body {
  margin: 0; padding: 0;
  background-color: black;
  color: white;
}

.container {
  width: 500px;
  padding-top: 100px;
  margin: auto;
}

#content {
  width: 500px;
  height: 500px;
}

.tile-row {
  display: block;
  height: 50px;
}

.tile-item {
  display: inline-block;
  width: 50px;
  height: 50px;
}
